include ../icons/icon-cross.pug

mixin select({elements, placeholder, label, className, hasReset=false})
    .select-component-wrapper.js-select-component-wrapper
        if label
            .select-component__label= label
        select.select-component.js-select-component(class=className data-placeholder=placeholder)
            each element in elements
                option.select-component__option(value=element.value)= element.text
        if hasReset
            button.select-component__reset.hidden.js-select-reset(type='button')
                +icon-cross('select-component__reset-icon')
