include ../icons/icon-cross.pug

mixin text-input({label, size='m', alert, placeholder, value, className, subText, forceAlert})
    - var classes = size + ' ' + className;
    - var inputForceClass = forceAlert ? 'text-input__input_force-alert' : ''

    .text-input.js-text-input-node(class=classes)
        if label
            .text-input__label= label
        .text-input__input-wrapper
            input.text-input__input.js-text-input(class=inputForceClass type="text" placeholder=placeholder value=value)
            button.text-input__reset.js-text-input-reset(type="button")
                +icon-cross('text-input__icon')
        if alert
            .text-input__alert.js-text-input-alert= alert
        if subText
            .text-input__sub-text= subText
        if forceAlert
            .text-input__force-alert= forceAlert
